html{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nav-style{
    display: flex;
    justify-content: space-around;
    background-color: #241e1d;
    top: 0;
    z-index: 10;
    position: sticky;
    border-bottom: 1px solid #e0ae3a;
}

#logo{
    width: 8rem;
}


.links{
    list-style: none;
    display: flex;
    gap: 2rem;
    margin-top: 2.1rem;
    font-size: 1.8rem;
}

.links a{
    color: white;
    font-weight: 450;
    text-decoration: none;
}

.links a:hover{
    color: #e0ae3a;
}

.sec-3{
    margin-top: 1.8rem;
}

.gitlink{
    text-decoration: none;
    gap: 2rem;
    font-size: 2rem;
    color: #e0ae3a;
    background-color: none;
    border: .1rem solid #e0ae3a;
    padding: .3rem 2rem .6rem 2rem;
    border-radius: 5rem;
}

.sec-3:hover{
    margin-top: 1.5rem;   
}

.sec-3:active{
    margin-top: 1.8rem;
}


.hamburger-box{
    height: 5rem;
    width: 5rem;
    display: flex;
    gap: 1rem;
    margin-left: auto;
    flex-direction: column;
    margin-top: -5rem;
    opacity: 0;
}

.hamburger-box div{
    height: .5rem;
    width: 90%;
    background-color: #e0ae3a;
    /* transition: .5s ease; */
}

.hamburger-box.active div:first-child{
    margin-top: 1.5rem;
    transform: rotate(40deg);
}

.hamburger-box.active div:nth-child(2){
    margin-top: -1.5rem;
    transform: rotate(-40deg);
}

.hamburger-box.active div:nth-child(3){
   opacity: 0;
}


.abt{
    display: flex;
    align-items: center;
    /* height: 100vh; */
    padding: 10rem 0;
    gap: 10%;
    background-color: #241e1d;
    color: white;
}

.abt-s1{
    width: 35%;
    margin-left: 10%;
}


.abt-s1 h1{
    font-size: 5.3rem;
}

.abt-s1 h2{
    font-size: 3.3rem;
}

.abt-s1 h2 span{
    color: #e0ae3a;
}

.abt-s1 p{
    margin-top: 1rem;
    font-size: 2rem;
    color: #ffdc8b;
}

.abt-s1 a{
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem 3rem;
    border: 2px solid #e0ae3a;
    color: #e0ae3a;
    border-radius: 5rem;
}


.abt-s2{
   width: 35%;
}

.abt-s2 #my-img{
    border: 2px solid #e0ae3a;
    margin-left: 5%;
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    object-fit: cover;
}

.abt-s2 #my-img:hover{
    box-shadow: 0 0 10px #e0ae3a, 0 0 10px #e0ae3a;
}

#skill-sec{
    padding: 0 0 10rem 0;
    background-color: #241e1d;

}

.center{
    text-align: center;
    color: white;
}

.center h1{
    font-size: 4.8rem;
}

.center p{
    font-size: 2rem;
    color: #ffdc8b;
}

.skill-container{
    color: #ffdc8b;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.sub-cont{
    width: 38%;
    min-height: 52vh;
    text-align: center;
    border: .2rem solid #e0ae3a;
    border-radius: 2rem;
    position: relative;
}

.cont{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sub-cont h2{
    color: #ffdc8b;
    font-size: 3rem;
}

.skill-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
}


.skill-list span{
    font-size: 1.7rem;
    color: white;
    border: 1px solid #e0ae3a;
    padding: .8rem 2rem;
    border-radius: 2rem;
    margin: .4rem;
}

.lang-logo{
    width: 2.2rem;
}



@media (min-width: 360px){
    .abt{
        padding: 3rem 0;
    }
}


@media (max-width: 381px){
    .abt-s2 #my-img{
        margin-top: 4.5rem;
        width: 23rem !important;
        height: 23rem !important;
    }
}

@media (min-width: 382px) and (max-width: 430px){
    .abt{
        height: 80vh;
    }
    .sub-cont{
        min-height: 20vh !important;
    }
}

@media (max-width: 590px) {
    html{
        font-size: 48%;
    }
    .nav-style{
        flex-direction: column;
    }

    .sec-3{
        margin-bottom: 1rem;
    }

    .links{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sec-3{
        display: none;
    }

    .sec-3.active{
        display: flex;
        justify-content: center;
        margin-left: 2rem;
    }

    .hamburger-box{
        opacity: 1;
    }
    .links{
        display: none;
    }

    .links.active{
        display: flex;
    }
    .abt{
        flex-direction: column-reverse;
        padding-bottom: 8rem;
    }
    .abt-s1{
        width: 90%;
        margin-right: 8%;
    }
    .abt-s2{
        margin-top: 10%;
        width: 90%;
        height: 30vh;
        display: flex;
        justify-content: center;
    }
    .abt-s2 #my-img{
        margin-top: 5rem;
    }
    .skill-container{
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }
    .sub-cont{
        min-height: 30%;
        width: 80%;
    }

}


@media (max-width: 710px) {
    html{
        font-size: 50%;
    }   
    .abt-s1 h1{
        font-size: 4.8rem !important;
    }
    
    .abt-s1 h2{
        font-size: 3.3rem !important;
    }
    
    .abt-s1 p{
        font-size: 2rem !important;
    }
    
    .abt-s1 a{
        font-size: 2rem !important;
    }
}


@media (max-width: 966px){
    
    
    .abt-s1 h1{
        font-size: 5.2rem;
    }
    
    .abt-s1 h2{
        font-size: 3.2rem;
    }
    
    .abt-s1 p{
        font-size: 1.9rem;
    }
    
    .abt-s1 a{
        font-size: 1.9rem;
        padding: .7rem 2rem;
    }
    .abt-s2 #my-img{
        width: 26rem;
        height: 26rem;
    }
    .skill-container{
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }
    .sub-cont{
        min-height: 16vh;
        width: 70%;
    }
}

@media (max-width: 1024px){
    .sub-cont{
        min-height: 17vh;
        max-height: 50vh;
    }
}


@media (min-width: 1367px){
    html{
        font-size: 68%;
    }
}
